@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.cartHolder {
    display: flex;
    align-items: center;
    font-size: 1rem;
    position: relative;
    border-radius: 100%;
}

.cartnobadge {
    position: absolute;
    top: -13px;
    text-align: center;
    border-radius: 7px;
    width: 18px;
    height: 18px;
    background-color: red;
    border: 1px solid #fff;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 16px;
    font-size: 12px;
}