.divrow {
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    /* align-items: center; */
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.divelem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 0.5rem;
    width: 200px;
    cursor: pointer;
    border-radius: 0.5rem;
    flex: 1 1 20%;
}

.divelem:hover {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,.1),0px 8px 8px 1px rgba(0,0,0,.07),0px 3px 8px 2px rgba(0,0,0,.08),0px 0px 0px 2px var(--color-core-primary);
    transition: transform 200ms linear,box-shadow 200ms linear,background 400ms ease,border-color 400ms ease;
}

.lsvcard {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.2rem;
}

.lscardheader {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.lscardbody {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    gap: 0.4rem;
}