<div class="wrapper">
    <div class="filterwrapper">
        Filter
    </div>
    <div class="searchDetails">
        <div class="divrow" *ngIf="!LoadingData">
            <div *ngFor="let item of srchResult" class="divelem" (click)="viewPart(item)">
                <div>
                    <b>{{item.PrdName}}</b>
                </div>
                <div *ngFor="let src of item.images">
                    <img [src]="src" [attr.alt]="item.PrdName" style="width: 200px;height: 200px;" loading="lazy" />
                </div>
                <div class="divCardBodyContent">
                    <b>
                        {{item.desc}}
                    </b>
                </div>
                <div class="divCardFooterContent">
                    <div style="font-weight: bolder;">
                        {{calculateDiscount(item.Discount,item.price) | currency}}
                    </div>
                    <div *ngIf="item.Discount">
                        <small style="text-decoration: line-through;color: #878787;">{{item.price | currency}}</small>
                    </div>
                    <div *ngIf="item.Discount" style="color: green;font-weight: bolder;">
                        <div *ngIf="item.Discount.type === 1;else perOff">
                            <small>{{item.Discount.Amount|currency}} off</small>
                        </div>
                        <ng-template #perOff>
                            <small> {{item.Discount.Amount}}% off</small>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divPagingwrapper">
    <app-pagination [pageSize]="pagesize" [totalRecords]="totalRecords" [pageNumber]="page"
        (changePage)="pagingEvent($event)"></app-pagination>
</div>