.imgprd {
    width: 100%;
    height: 100%;
}

.divcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f0f0f0;
    flex: 0 1 30%;
}

.divindicator {
    width: 10px;
    height: 10px;
    border-radius: 90%;
    border: 1px solid;
    cursor: pointer;
}

.divactive {
    background-color: red;
}

.divrow {
    display: flex;
    flex-direction: column;
    background-color: beige;
    color: black;
    font-size: 1.5rem;
    flex: 0 1 69%;
    padding: 0.2rem;
}

model-viewer {
    height: 500px;
    width: 500px;
}

.btn-cart {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: orange;
    border: 0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
}